<footer class="bg-brand-brown text-brand-beige py-12">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10">
    <div>
      <div class="w-30 h-30 flex items-center justify-start">
         <img src="LogoSHPB.png" />        
      </div>
      <p class="text-sm opacity-80 leading-relaxed">
        Cristo é a nossa paz!
      </p>
    </div>

    <div>
      <h4 class="font-bold mb-4 uppercase text-xs tracking-widest text-brand-terra">Links Rápidos</h4>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:underline">Início</a></li>
        <li><a href="#sobre" class="hover:underline">Sobre o Retiro</a></li>
        <li><a href="https://www.instagram.com/shalomdepalmas" target="_blank" class="hover:underline">Instagram Oficial</a></li>
      </ul>
    </div>

    <div>
      <h4 class="font-bold mb-4 uppercase text-xs tracking-widest text-brand-terra">Contato</h4>
      <p class="text-sm opacity-80 italic">"Por Cristo, Com Cristo, Em Cristo."</p>
      <p class="text-xs mt-4 opacity-50 font-sans">© 2026 Retiro de Semana Santa - Todos os direitos reservados.</p>
    </div>
  </div>
</footer>